<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>
        <joint name="left_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
        <joint name="right_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-1</param>
                <param name="max">1</param>
            </command_interface>
            <state_interface name="velocity"/>
            <state_interface name="position"/>
        </joint>
    </ros2_control>

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>/home/mr_robot/test_ws/src/bobo_simulation/simulation_packages/romrobots_description/config/yoyo_controllers.yaml</parameters>

            <!-- Output -->
            <odometry_frame>odom</odometry_frame>
            <robot_base_frame>base_footprint</robot_base_frame>

            <publish_odom>true</publish_odom>
            <publish_odom_tf>true</publish_odom_tf>
            <publish_wheel_tf>true</publish_wheel_tf>
        </plugin>
    </gazebo>
    <gazebo reference="left_wheel_link">
      <material>Gazebo/Black</material>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
      <mu1>1.2</mu1>
      <mu2>1.2</mu2>
      <fdir1>1 0 0</fdir1>
      <maxVel>0.5</maxVel>
      <minDepth>0.00</minDepth>
      <!-- <mu1>1.3</mu1>
      <mu2>1.3</mu2> -->
    </gazebo>
    <gazebo reference="right_wheel_link">
      <material>Gazebo/Black</material>
      <kp>1000000.0</kp>
      <kd>10.0</kd>
      <mu1>1.2</mu1>
      <mu2>1.2</mu2>
      <fdir1>1 0 0</fdir1>
      <maxVel>0.5</maxVel>  
      <minDepth>0.00</minDepth>
      <!-- <mu1>1.3</mu1>
      <mu2>1.3</mu2> -->
    </gazebo>

     <gazebo reference="caster_front_link">
      <material>Gazebo/Black</material>
      <!-- <kp>1000000.0</kp>
      <kd>10.0</kd>
      <mu1>1.2</mu1>
      <mu2>1.2</mu2>
      <fdir1>1 0 0</fdir1>
      <maxVel>0.5</maxVel>
      <minDepth>0.00</minDepth> -->
      <mu1>1.0</mu1>
      <mu2>0.05</mu2>
    </gazebo>
    <gazebo reference="caster_back_link">
      <material>Gazebo/Black</material>
      <!-- <kp>1000000.0</kp>
      <kd>10.0</kd>
      <mu1>1.2</mu1>
      <mu2>1.2</mu2>
      <fdir1>1 0 0</fdir1>
      <maxVel>0.5</maxVel>  
      <minDepth>0.00</minDepth> -->
      <mu1>1.0</mu1>
      <mu2>0.05</mu2>
    </gazebo>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <topic>/imu</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu">
                <topicName>imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>10.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
                <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- TOP CAMERA -->
  <joint name="camera_optical_joint" type="fixed">
        <parent link="cam3d_top_link"/>
        <child link="camera_link_optical"/>
        <origin xyz="0 0 0" rpy="-1.57075 0 -1.57075"/> <!-- ${-pi/2} -->
    </joint>
    <link name="camera_link_optical"></link>

    <gazebo reference="cam3d_top_link">
        <material>Gazebo/Blue</material>
        <sensor name="camera_top" type="depth">
            <pose>0 0 0 0 0 0</pose>
            <visualize>true</visualize>
            <update_rate>10</update_rate>
            <camera>
                <horizontal_fov>1.089</horizontal_fov>
                <image>
                    <format>B8G8R8</format>
                    <width>640</width>
                    <height>480</height>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>8.0</far>
                </clip>
            </camera>
            <plugin name="camera_controller_top" filename="libgazebo_ros_camera.so">
                <frame_name>camera_link_optical</frame_name>
                <min_depth>0.1</min_depth>
                <max_depth>50</max_depth>
            </plugin>
        </sensor>
    </gazebo>
</robot>